.header {
    display: flex;
    position: fixed;
    width: 100%;
    height: 60px;
    inset: 0;
    align-items: center;
    z-index: 999;
    background-color: $colorPrincipal;
    padding-inline: 15px;

    .navegacion {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        .menu-movil {
            display: none;
        }

        &__menu {
            display: flex;
            gap: 50px;
        }

        &__logo {
            font-family: $fuenteLogo;
            color: $colorBlanco;
            font-size: 2rem;
            transition: $btnAnimacion;

            &:hover {
                color: $colorSecundario;
            }
        }
        .menu {
            display: flex;
            align-items: center;
            gap: 20px;

            &[data-visible="true"] {
                transform: translateX(0%);
            }
        }
    }
}
