/**------Proyectos-------**/
.proyectos__titulo {
    padding-top: 90px;

    &__titulo .texto {
        width: 75%;
        padding-top: 15px;
    }
    
    @media (max-width: 768px) {
        &__titulo .texto {
            width: 100%;
        }
    }
}

