$colorPrincipal: #3834f0;
$colorSecundario: #f06543;
$colorAzulClaro: #6f9ceb;
$colorTerciario: #70f8ba;
$colorOscuro: #2a2b2e;
$colorBlanco: #fff;
$colorNegro: #000;

$fuenteLogo: 'Bai Jamjuree', sans-serif;
$fuenteHeading: 'DM Sans', sans-serif;
$fuenteTexto: 'Rubik', sans-serif;

$btnFontSize: 1.5rem;

$btnAnimacion: all .3s ease-out;

$desktopLG: 1440px;
$tabletMD: 1080px;
$tabletSM: 769px;
$mobileMD: 550px;
$mobileSM: 300px;